/* AnalyzeButton.css */

.analyze-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.analyze-button-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.analyze-button {
    background-color: #353535;
    color: white;
    border: none;
    font-size: 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    /* Correspond à la taille du carré dans ProgressBar.jsx */
    height: 70px;
}

.analyze-button:hover {
    background-color: #383838;
}

.analyze-button img {
    width: 30px;
    height: 30px;
}

.progress-bar-container {
    position: relative;
    width: 70px;
    /* Correspond à la taille du carré */
    height: 70px;
}

.analyze-icon-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
}

@keyframes pulsate {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.1);
        opacity: 0.7;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.pulsating-icon {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 30%;
    left: 30%;
    transform: translate(-50%, -50%);
    animation: pulsate 1s infinite;
}