.analyze-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.analyze-button-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.analyze-button {
    background-color: #353535;
    color: white;
    border: none;
    font-size: 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
}

.analyze-button:hover {
    background-color: #383838;
}

.analyze-button img {
    width: 30px;
    height: 30px;
}

.progress-bar-container {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}