.bookmark-tooltip {
    position: absolute;
    /* Place la tooltip au-dessus du bouton */
    bottom: 78%;
    left: 50%;
    transform: translateX(-50%);

    background-color: #acacac;
    color: #2c2c2c;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;

    width: 43px;
    height: 19px;
    transition: transform 0.2s ease, background-color 0.2s ease;
    font-family: 'poppins', sans-serif;
}

.bookmark-tooltip.updating {
    transform: translateX(-50%) scale(1.1);
    background-color: #e0e0e0;
}