/* Button.css */
.custom-button {
    text-decoration: none;
    color: inherit;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    box-shadow: 6px 6px 0px -4px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    background: none;
    border: none;
    cursor: pointer;
    background-color: rgba(68, 68, 68, 0.1);
    transition: all 0.3s ease;
}

.custom-button.hovered {
    font-weight: 400;
    box-shadow: 7px 7px 0px -4px rgba(0, 0, 0, 0.2);
    background-color: rgba(68, 68, 68, 0.2);
}
