.file-manager {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: #2c2c2c;
  color: white;
  font-family: 'Poppins', sans-serif;
}

.file-manager-header {
  font-size: 15px;
  margin: 0;
}

.file-manager-grid {
  display: grid;
  grid-template-columns: auto fit-content(250px) fit-content(250px) auto;
  grid-template-rows: repeat(2, auto);
  gap: 5px;
  width: fit-content;
}





.file-select-dropdown {
  flex-grow: 1;
  width: 100%;
  padding: 8px;
  background-color: #313f54;
  border: none;
  color: white;
  font-size: 14px;
  border-radius: 0;
  /* Supprime les coins arrondis */

}


.file-select-dropdown option {
  background-color: #2c2c2c;
  color: white;
  border-radius: 0 !important;

  /* S'assure que les options n'ont pas de coins arrondis */

}

.file-select-dropdown:focus {
  outline: none;
  background-color: #2a4c76;
}



.file-version-row {
  display: flex;
  align-items: center;
  gap: 5px;
  height: auto;
  /* Ajuste automatiquement à la hauteur du contenu */
}



.version-label {
  font-size: 16px;
  width: 20px;
  color: white;
  margin: 0;
  flex-shrink: 0;
  text-align: center;
}

.v1,
.v2 {
  grid-column: 2;
}

.v1 {
  grid-row: 1;
}

.v2 {
  grid-row: 2;
}

.button {
  background-color: #353535;
  grid-row: span 2;
  color: white;
  border: none;
  font-size: 12px;
  width: auto;
  /* Supprimez width: 50px; */
  height: auto;
  cursor: pointer;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover {
  background-color: #383838;
}