.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    /* overlay semi-transparent */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2000;
    /* Au-dessus de tout */
    font-family: 'Poppins', sans-serif;
}

.modal-content {
    background-color: #272727;
    padding: 20px;
    position: relative;
    width: 650px;
    /* Ajustez selon besoin */
    max-height: 80vh;
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
}

.modal-close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.file-modal-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}




.file-list {
    list-style: none;
    margin: 0;
    padding: 0;
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #6c6c6c;
    border-radius: 4px;
    background-color: #1c1c1c;
}

.file-list li {
    padding: 10px;
    border-bottom: 1px solid #333;
    color: #fff;
    font-size: 14px;
}

.file-list li:last-child {
    border-bottom: none;
}

.file-modal-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.file-modal-button:hover {
    background-color: #0056b3;
}