/* ProgressBar.css */

.progress-bar {
    transform: rotate(0deg);
    /* Ajustez la rotation si nécessaire */
    margin: 0 auto;
}

.progress-bar rect {
    transition: stroke-dashoffset 0.5s ease-in-out;
}