.stats-container {
    display: flex;
    gap: 20px;
    align-items: center;
    color: #fff;
}

.donut-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.donut {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: relative;
    flex-shrink: 0;
    /* Empêche le donut de se réduire */
}

.donut::before {
    content: '';
    position: absolute;
    background: #2c2c2c;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    top: 10px;
    left: 10px;
}

.stats-labels {
    text-align: left;
    font-size: 12px;
    margin-top: 0;
    line-height: 1.2;
}

.stats-labels p,
.stats-labels span {
    margin: 0;
    padding: 0;
}