.stats-container {
    display: flex;
    gap: 20px;
    align-items: center;
    color: #fff;
}

.donut-container {
    display: flex;
    align-items: center;
    gap: 10px;
    /* Espace entre la donut et les labels */
    /* On reste en flex row pour mettre la donut à gauche et les labels à droite */
}

.donut {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: relative;
}

.donut::before {
    content: '';
    position: absolute;
    background: #2c2c2c;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    top: 10px;
    left: 10px;
}

.stats-labels {
    text-align: left;
    font-size: 12px;
    margin-top: 0;
    line-height: 1.2;
    /* Ajustez la valeur pour réduire l'espace vertical entre les lignes */
}

.stats-labels p,
.stats-labels span {
    margin: 0;
    /* Supprimer toute marge verticale par défaut */
    padding: 0;
}