.top-menu {
    display: flex;
    gap: 20px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    align-items: center;
    /* centre verticalement */
    font-family: 'Poppins', sans-serif;
}

.left-side {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    flex: 0;
    /* Garde left-side expansée si souhaité */
}

.middle-side {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    flex: 0;
    /* Retirer flex:1, ainsi .middle-side se limite à la taille de son contenu */
}

/* Pas de flex:1 sur stats-filters-container, pour ne pas l’étirer */
.stats-filters-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.section-title {
    font-size: 13px;
    color: white;
    margin: 0 0 5px 0;
}

.analysis-container {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.analyze-button-container,
.filters {
    margin-top: 0;
}