.warning-tooltip {
    position: absolute;
    left: 87%;
    background-color: #acacac;
    color: #2c2c2c;
    text-align: center;
    /* Centrage horizontal du texte (utile pour plusieurs lignes) */
    font-size: 14px;
    font-weight: bold;
    display: flex;
    /* Active le modèle flexbox */
    align-items: center;
    /* Centre verticalement */
    justify-content: center;
    /* Centre horizontalement */
    white-space: nowrap;
    width: 20px;
    height: 38px;
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.warning-tooltip.updating {
    transform: scale(1.1);
    background-color: #e0e0e0;
}